@import "../common/styles/sass/variables.scss";
@import "../common/styles/sass/mixins";

.skillsBlock {

  min-height: 80vh;
  @include backgroundLight();

  .skillsContainer {
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;

    .swiper {
      width: 100%;
      margin-top: 30px;
      margin-bottom: 30px;
    }
  }
}

