@import "../../common/styles/sass/variables";

.skillItemsBlock {
  min-height: 100vh;

}

.skillsLinesContainer {
  flex-direction: column;
  justify-content: flex-start;
}

.skillItems {
  width: 800px;
  margin: 60px auto;
  list-style: none;
  color: white;
  @media screen and (max-width: 800px) {
    width: 300px;
    margin: 60px auto;
  }
}

.skillItems li {
  margin: 20px 0;
}

.bar {
  background-color: #353b48;
  display: block;
  height: 2px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 0 10px #2187e7b3;
}

.bar span {
  height: 2px;
  float: left;
  background: #2187e7;
}

.skillItems span:hover {
  animation-name: initial;
  animation-direction: reverse;
  cursor: pointer;
}

.typescript {
  width: 67%;
  animation: typescript 5s;
}

.javaScript {
  width: 60%;
  animation: javaScript 5s;
}

.react {
  width: 70%;
  animation: react 5s;
}

.redux {
  width: 75%;
  animation: redux 5s;
}

.axios {
  width: 80%;
  animation: axios 5s;
}

.node {
  width: 65%;
  animation: axios 5s;
}

.nest {
  width: 63%;
  animation: axios 5s;
}

.git {
  width: 63%;
  animation: git 5s;
}

.html {
  width: 50%;
  animation: html 5s;
}

.css {
  width: 74%;
  animation: css 5s;
}
.graphql {
  width: 65%;
  animation: graphql 5s;
}

@keyframes typescript {
  0% {
    width: 0%;
  }
  100% {
    width: 67%;
  }
}

@keyframes javaScript {
  0% {
    width: 0%;
  }
  100% {
    width: 60%;
  }
}

@keyframes react {
  0% {
    width: 0%;
  }
  100% {
    width: 70%;
  }
}

@keyframes redux {
  0% {
    width: 0%;
  }
  100% {
    width: 75%;
  }
}

@keyframes axios {
  0% {
    width: 0%;
  }
  100% {
    width: 80%;
  }
}

@keyframes git {
  0% {
    width: 0%;
  }
  100% {
    width: 63%;
  }
}

@keyframes html {
  0% {
    width: 0%;
  }
  100% {
    width: 50%;
  }
}

@keyframes css {
  0% {
    width: 0%;
  }
  100% {
    width: 74%;
  }
}
@keyframes graphql {
  0% {
    width: 0%;
  }
  100% {
    width: 65%;
  }
}
