@import "../common/styles/sass/variables";
@import "../common/styles/sass/mixins";

.navBlock {
  position: fixed !important;
  z-index: 999;
  padding: 0;
  margin: 0;
  background: #2f2d2d;
  font-family: Montserrat;
  //font-size: 16px;
  //overflow: hidden;
  width: 100%;
  //height: 100px;
  //opacity: .7;
  .container {
    //background-color: #c51111;
    display: flex;
    justify-content: space-evenly;
    //align-items: center;
    //  //top: 43px;
    //  position: fixed;
    //  z-index: 9999;
    //  //left: 50%;
    width: 100%;
    //transform: translate(-50%, -50%);
    //background: $bgColor;
    //  border-radius: 5px;
    //
    .text {
      position: relative;
      //    color: #fff;
      font-weight: bold;
      //font-size: 16px;
      text-transform: uppercase;
      padding: 20px;
      cursor: pointer;

      &::before, &::after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: #8d8d8c;
        transform-origin: right;
        transition: transform 400ms ease;
        z-index: -1;
        transform: scaleX(0);

      }

      &:hover::before, &:hover::after {
        transform-origin: left;
        transform: scaleX(1);
      }

      &::after {
        z-index: -2;
        filter: blur(30px);
      }

      & a::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }

      .active {
        color: #bbb15c;
      }
    }
  }
}

@media screen and (max-width: 436px) {
  .navBlock {
    width: 100%;
    font-size: 10px;

    .container {
      .text {
        padding: 10px 0 10px 0;

        .active {
          color: #bbb15c;
        }

      }
    }
  }

}

//.nav-item > .active {
//  border-bottom: 1px solid #333;
//}
//&.container{
//  top: 43px;
//  display: flex;
//.text{
//  padding: 25px 80px;
//  &::before, &::after{
//    transform: scaleY(0);
//    transform-origin: bottom;
//  }
//  &:hover::before, &:hover::after{
//    transform: scaleY(1);
//    transform-origin: top;
//  }
//}
.button{
  border: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  cursor: pointer;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 18px;
  left: 15px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #ffb400;
}
.nav{
  margin: 0;
  padding: 0;
}
.nav{
  //padding: 100px 0 0 20px;
  position: absolute;
  top: 100px;
  left: 20px;
  width: 170px;
}
.itemNav{
  margin: 0;
  padding: 0;
}
//li {
//  margin: 0;
//  padding: 0;
//}

//ul {
//  padding: 25px;
//  position: absolute;
//  top: 100px;
//  width: 230px;
//}

.itemNav {
  list-style: none;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.navIcon{
  position: absolute;
  width: 20px;
  height: 20px;
}

.icon_placeholder {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  flex: 40px 0;
  margin-right: 20px;
}

.text_placeholder {
  border-radius: 5px;
  width: auto;
  height: 20px;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-weight: 600;
}
